.pagination {
  display: flex;
  justify-content: center;
  margin: 0.9375rem 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    min-width: 2.875rem;
    height: 2.375rem;
    display: block;
    
    padding: 0 .3125rem;
    margin: 0 .1875rem;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    border-radius: .25rem;
    background-color: #fff;
  
    font-size: 1.25rem;
    line-height: 1.8;
    text-align: center;
    font-family: Arial;
    color: inherit;
    text-decoration: none;
    user-select: none;

    &:hover {
      border: 1px solid $orange;
      color: $orange;
    }

    &:active {
      border: 1px solid darken($orange, 15%);
      color: darken($orange, 15%);
    }

    &.active {
      background: #00a046;
      border: 1px solid transparent;
      color: #fff;
      cursor: default;

      a:hover {
        color: #fff;
        cursor: default;
      }
    }
  }
}
