.container {
  width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 540px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1720px;
  }
}
